.sidebar {
  max-height: calc(100vh - (var(--ifm-navbar-height) + 2rem));
  overflow-y: auto;
  position: sticky;
  top: calc(var(--ifm-navbar-height) + 2rem);
}

.sidebarItemTitle {
  font-size: var(--ifm-h3-font-size);
  font-weight: var(--ifm-font-weight-bold);
  display: flex;
  align-items: center;
}

.sidebarItemList {
  font-size: 0.9rem;
}

.sidebarItem {
  margin-top: 0.7rem;
  margin-right: 0.2rem;
  border: 1px solid grey;
  border-radius: 3px;
  padding: 10px;
  position: relative;
  transition: box-shadow 0.3s;
}

.sidebarItem:hover {
  border: 1px solid #3f51b5;
  box-shadow: 2px 2px 1px #55555594;
}

.sidebarItemLink {
  color: var(--ifm-font-color-base);
  display: flex;
}

.sidebarItemLink:hover {
  text-decoration: none;
  color: var(--ifm-font-color-base);
}

.sidebarItemLinkActive {
  color: var(--ifm-color-primary) !important;
}

.newItem {
  position: relative;
}

.newTag {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translate(0, -50%);
  background-color: #3f51b5;
  color: #ffffff;
  border-radius: 3px;
  padding: 3px 6px;
  font-size: 12px;
}

.activeButton {
  font-size: 0.8rem;
  color: #3f51b5;
  background: none;
  border: none;
  padding: 0;
  position: absolute;
  right: 10px;
  cursor: pointer;
}

.activeButton:hover {
  text-decoration: underline;
}
