---
import type { Props } from "@astrojs/starlight/props";
import StarlightPage from "@astrojs/starlight/components/StarlightPage.astro";
import ApplicationCommand from "../../components/ApplicationCommand/main";

---

<StarlightPage frontmatter={{ title: "Slash Creator", description: "Easy to use creator for slash commands.", tableOfContents: false }} hasSidebar={true}>
    <div class="not-content">
        <ApplicationCommand client:only="react" />
    </div>
</StarlightPage>

<style is:global>
    body {
        font-family: var(--__sl-font) !important;
        line-height: var(--sl-line-height) !important;
        -webkit-font-smoothing: antialiase !important;
        color: var(--sl-color-text) !important;
        background-color: var(--sl-color-bg) !important;
    }

    .chakra-modal__body,
    .chakra-modal__header,
    .chakra-modal__footer,
    .chakra-button,
    button[role="menuitem"],
    div[role="menu"],
    .chakra-input {
        font-family: var(--__sl-font) !important;
        line-height: var(--sl-line-height) !important;
        -webkit-font-smoothing: antialiase !important;
        color: var(--sl-color-text) !important;
        background-color: var(--sl-color-bg) !important;
    }

    .chakra-modal__header {
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
    }

    .chakra-modal__footer {
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
    }

    .chakra-button:hover,
    button[type="button"]:hover,
    button[role="menuitem"]:hover {
        color: #fff !important;
        background-color: var(--sl-color-accent) !important;
        border: 2px solid var(--sl-color-accent-high) !important;
    }

    button[type="button"]:has(svg path[d*="M.439,21.44a1.5,1."]) {
        color: var(--sl-color-red) !important;
        font-family: var(--__sl-font) !important;
        line-height: var(--sl-line-height) !important;
        -webkit-font-smoothing: antialiase !important;
        background-color: var(--sl-color-bg) !important;
    }

        button[type="button"]:has(svg path[d*="M.439,21.44a1.5,1."]):hover {
        color: #fff !important;
        background-color: var(--sl-color-red-low) !important;
        border: 2px solid var(--sl-color-red) !important;
    }

    button[role="menuitem"] {
        border: 2px solid transparent;
    }

    input .chakra-input, input .chakra-input::-webkit-input-placeholder, input .chakra-input::-moz-placeholder, input .chakra-input:-ms-input-placeholder, input .chakra-input::placeholder {
        color: var(--sl-color-text) !important;
        border: 1px solid var(--sl-color-gray-4) !important;
    }
</style>
