@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@400;700&display=swap");

:root {
  --ds-text: var(--sl-color-text-accent);
}

/* fix for small screens */

@media (max-width: 900px) {
  .tracker-container {
    font-size: 0.2rem;
    padding: 0.5rem;
    overflow-x: scroll !important;

    && ul li:last-child {
      padding-right: 0.5rem;
    }
  }

  .package-stats-container > * {
    flex: 1 1 45%;
    max-width: 45%;
    margin: 0.5rem;
    font-size: 0.8rem;
  }
}

/* Center table contents */
.sl-markdown-content :is(th, td):not(:where(.not-content *)):has(img) {
  width: 50%;
}

/* Better Steps Layout */
.sl-steps > li:last-of-type:after {
  --guide-width: 1px;
  background: linear-gradient(
    to bottom,
    var(--sl-color-hairline-light),
    var(--sl-color-bg) 85%
  );
  bottom: var(--bullet-margin);
  content: "";
  inset-inline-start: calc((var(--bullet-size) - var(--guide-width)) / 2);
  position: absolute;
  top: calc(var(--bullet-size) + var(--bullet-margin));
  width: var(--guide-width);
}

/* package stats styles */

.icon-layout {
  position: absolute;
  height: 150px;
  width: 150px;
  transform: rotate(-15deg);
  margin-top: 5px;
  z-index: -1;
  opacity: 0.25;
  overflow: hidden;
  width: max-content;
  pointer-events: none;
  transition:
    fill 0.3s ease-in-out,
    transform 0.3s ease-in-out;
}

.package-stats-container {
  position: relative;
  display: flex;
  border: 1px solid var(--sl-color-gray-5);
  border-radius: 5px;
  justify-content: space-around;
  align-items: center;
  margin-top: 2rem;
  background-color: var(--sl-color-bg);
  backdrop-filter: blur(16px);
  flex-direction: row;
  flex-wrap: wrap;
}

.package-container-inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-bottom: 20px;

  && p {
    transition: opacity 0.3s ease-in-out;
  }
}

.container-inner-font {
  color: var(--sl-color-text-accent);
  padding: 15px;
}

#stars:hover {
  && p {
    transition: opacity 0.3s ease-in-out;
    opacity: 0.8;
  }

  && svg {
    transition:
      fill 0.3s ease-in-out,
      transform 0.3s ease-in-out;
    transform: rotate(15deg);
    fill: #e3b341;
  }
}

#downloads:hover {
  && p {
    transition: opacity 0.3s ease-in-out;
    opacity: 0.8;
  }

  && svg {
    transition:
      fill 0.3s ease-in-out,
      transform 0.3s ease-in-out;
    transform: rotate(15deg);
    fill: #177312;
  }
}

/* hero styles */

[data-has-hero] {
  && header {
    border-bottom: 1px solid transparent;
    background-color: transparent;
    -webkit-backdrop-filter: blur(16px);
    backdrop-filter: blur(16px);
  }

  && .page {
    background:
      linear-gradient(215deg, var(--overlay-blurple), transparent 40%),
      radial-gradient(var(--overlay-blurple), transparent 40%) no-repeat -60vw -40vh /
        105vw 200vh,
      radial-gradient(var(--overlay-blurple), transparent 65%) no-repeat 50%
        calc(100% + 20rem) / 60rem 30rem;

    && {
      article {
        border-radius: 4px;
      }
    }
  }

  && .hero > img {
    filter: drop-shadow(0 0 3rem var(--overlay-blurple));
  }
}

/* Discord Message Component global styles */

.discord-light-theme .discord-message a {
  color: rgb(255, 255, 255);
}

.discord-button.discord-button-secondary:hover {
  background-color: rgba(67, 72, 79, 80%);
}

a.sl-flex.action.primary {
  transition: all 0.3s ease-out;

  &&::hover {
    transition: all 0.3s ease-in;
    filter: drop-shadow(0 0 7rem var(--sl-color-accent-high));
  }
}

.tracker-container {
  border-radius: 4px;
  overflow: hidden;
  border: 1px solid var(--sl-color-hairline);

  && ul li {
    margin-bottom: 0.5rem;
  }
}

/* Footer */
.contribute-footer {
  margin-top: 10rem !important;
  text-align: center;
}

.footer-icon {
  margin: 0 auto;
  width: 100px;
  height: auto;
  cursor: pointer;
}

/* Fix custom headers */

.heading-link {
  text-decoration: none;
  color: var(--sl-color-white) !important;

  &&.heading-link::after {
    content: "#";
    padding-inline-start: 0.25em;
    opacity: 0;
    transition: all 0.2s ease-in;
  }

  &&:hover::after {
    color: var(--sl-color-text-accent);
    transition: all 0.2s ease-in;
    opacity: 1;
  }
}

/* Sidebar overrides */

.sidebar-content ul li {
  margin-left: 0;
  border: none;
}

.sidebar-pane {
  border: none;
}

.group-label .large {
  display: block;
  padding: 4px 0;
  font-size: 0.9rem;
  font-weight: 500;
}

.sidebar-content ul a {
  padding: 8px 10px;
  font-size: 0.84rem;
  overflow: hidden !important;
  overflow-wrap: initial !important;
  white-space: nowrap;
  text-overflow: ellipsis;

  &&[aria-current="page"] {
    color: var(--custom-color-text-strong);
    box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.032);
    background-color: rgba(255, 255, 255, 0.032);

    [data-theme="light"] & {
      box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.04);
      background-color: rgba(0, 0, 0, 0.024);
    }
  }
}

.right-sidebar {
  padding-left: 32px;
  border: none;
}

#starlight__on-this-page {
  margin-bottom: 16px;
  padding: 0 8px;
  font-size: 0.9rem;
}

.right-sidebar-panel li ul {
  margin-left: calc(var(--depth) * 16px);
}

.right-sidebar-panel a {
  padding: 5px 8px;
}

/* overwrite horrible starlight tables */

.sl-markdown-content table:not(:where(.not-content *)) {
  display: block;
  overflow: auto;
  border-collapse: collapse;
}

.sl-markdown-content {

  && th:not([align]):not(:where(.not-content *)) {
    text-align: center;
  }

  && tr:nth-child(2n):not(:where(.not-content *)) {
    background-color: var(--sl-color-gray-7, var(--sl-color-gray-6));
  }

  && :is(th, td):not(:where(.not-content *)) {
    border: 1px solid var(--sl-color-hairline-light);
    padding: 0.375rem 0.8125rem !important;
  }

  && table thead img {
    border-radius: 4px;
  }

  && table:has(thead img) tbody {
    font-family: "Fira Code", monospace;
    color: var(--sl-color-gray-3);
  }
}