@font-face {
    font-family: "Whitney";
    src: url("./DiscordFontDefault.woff2") format("woff2");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Whitney";
    src: url("./DiscordFontItalic.woff2") format("woff2");
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Whitney";
    src: url("./DiscordFontDefaultBold_400.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Whitney";
    src: url("./DiscordFontItalicBold_400.woff2") format("woff2");
    font-weight: 400;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Whitney";
    src: url("./DiscordFontDefaultBold_500.woff2") format("woff2");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Whitney";
    src: url("./DiscordFontItalicBold_500.woff2") format("woff2");
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Whitney";
    src: url("./DiscordFontDefaultBold_600.woff2") format("woff2");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Whitney";
    src: url("./DiscordFontItalicBold_600.woff2") format("woff2");
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}