@font-face {
  font-family: "Whitney";
  src: url("./Whitney/DiscordFontDefault.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Whitney";
  src: url("./Whitney/DiscordFontItalic.woff2") format("woff2");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Whitney";
  src: url("./Whitney/DiscordFontDefaultBold_400.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Whitney";
  src: url("./Whitney/DiscordFontItalicBold_400.woff2") format("woff2");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Whitney";
  src: url("./Whitney/DiscordFontDefaultBold_500.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Whitney";
  src: url("./Whitney/DiscordFontItalicBold_500.woff2") format("woff2");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Whitney";
  src: url("./Whitney/DiscordFontDefaultBold_600.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Whitney";
  src: url("./Whitney/DiscordFontItalicBold_600.woff2") format("woff2");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Ginto Nord";
  src:
    url("./GintoNord/ginto-nord.woff2") format("woff2"),
    url("./GintoNord/ginto-nord.woff") format("woff");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Ginto Normal";
  src:
    url("./GintoNormal/ginto-normal.woff2") format("woff2"),
    url("./GintoNormal/ginto-normal.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
