<!doctype html>
<html>
  <head>
    <title>aoi.js | Forums</title>
    <meta content="Official aoi.js forums, powered by @wiltark" property="og:title" />
    <meta content="aoi.js | Forums" property="og:site_name" />
    <meta
      http-equiv="refresh"
      content="0;url=https://forum.aoijs.org"
    />
  </head>
</html>
