<title>aoi.js</title>
<meta content="Join our Discord" property="og:title" />
<meta
  content="https://cdn.discordapp.com/attachments/1082168708866244648/1142634551932358766/38084A87-56B2-49C6-8F5E-EF1881DF497C.png"
  property="og:image"
/>

<meta
  http-equiv="refresh"
  content="0;url=https://discord.com/invite/HMUfMXDQsV"
/>
