<title>aoi.js</title>
<meta content="Join our Discord" property="og:title" />
<meta
  content="https://media.discordapp.net/attachments/832704676096245800/1152917821790097469/1fd2aecc635623a80bf624d942668fe9.png"
  property="og:image"
/>
<meta
  content="Join the aoi.js Community, to receive support or just to chat."
  property="og:description"
/>
<meta content="aoi.js | Discord" property="og:site_name" />

<meta
  http-equiv="refresh"
  content="0;url=https://discord.com/invite/HMUfMXDQsV"
/>
