<!doctype html>
<html>
  <head>
    <title>aoi.js</title>
    <meta content="Join our Discord" property="og:title" />
    <meta
      content="https://raw.githubusercontent.com/aoijs/website/main/src/images/aoijs-banner.png"
      property="og:image"
    />
    <meta
      content="Join the aoi.js Community, to receive support or just to chat."
      property="og:description"
    />
    <meta content="aoi.js | Discord" property="og:site_name" />
    <meta
      http-equiv="refresh"
      content="0;url=https://discord.com/invite/HMUfMXDQsV"
    />
  </head>


</html>
