/* stylelint-disable docusaurus/copyright-header */

/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

/* privacy.js */

.privacyContainer {
  display: flex;
}

.privacyHeaderItem {
  font-size: 32px;
  font-weight: bold;
}

.privacyHeaderItemSmall {
  font-size: 16px;
  font-weight: bold;
  margin-top: 5px;
}

.privacyItem {
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 40px;
  opacity: 1;
  transition: opacity 0.5s ease-in;
  width: 100%;
  justify-content: space-between;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding: 20px;
}

/* index.js */

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 966px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.buttons a {
  margin: 5px;
}

.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.featureImage {
  height: 500;
  width: 400px;
}

/* Forms.js */

.tagContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.tagContainer {
  display: flex;
  gap: auto;
}

.tag {
  display: flex;
  padding: 3px 10px;
  margin-top: 0px;
  border-radius: 7px;
  border: 1px solid;
  position: relative;
  color: #3f51b5;
  background-color: rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  animation: color-transition 3s infinite;
}

.placeholderText {
  color: rgb(128, 128, 128);
  position: relative;
}

.tag:hover {
  background-color: #3f51b5;
  color: white;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.1);
}

.tag:focus {
  outline: none;
}

.tag.active {
  background-color: #3f51b5;
  animation: none;
  color: whitesmoke;
  outline: none;
  box-shadow: 3px 3px 3px grey;
}

/* credits.js */

.creditContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.creditItem {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
  opacity: 1;
  transition: opacity 0.5s ease-in;
  width: 100%;
  justify-content: space-between;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding: 20px;
}

.header {
  text-align: center;
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 40px;
}

.creditItem:nth-child(even) {
  flex-direction: row-reverse;
}

.avatar {
  width: 240px;
  height: 240px;
  border-radius: 50%;
  margin-right: 45px;
}

.details {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.name {
  margin-bottom: 10px;
  font-size: 35px;
  font-weight: bold;
}

.title {
  font-size: 30px;
  color: #888;
}

.creditItem:nth-child(even) .avatar {
  margin-right: 0;
  margin-left: 30px;
}

.creditItem:nth-child(even) .details {
  text-align: right;
}

@media (max-width: 900px) {
  .creditContainer {
    flex-wrap: wrap;
  }

  .creditItem {
    flex-direction: row;
    align-items: flex-start;
    padding: 15px;
    margin-bottom: 25px;
  }

  .avatar {
    width: 120px;
    height: 120px;
    margin-right: 15px;
    margin-bottom: 15px;
  }

  .details {
    text-align: left;
    width: 100%;
  }

  .name,
  .creditItem:nth-child(even) .name,
  .title,
  .creditItem:nth-child(even) .title {
    font-size: 20px;
    margin-bottom: 4px;
    overflow-wrap: break-word;
  }
}

/* index.js */

.packageStats {
  padding: 40px 0;
}

.packageStatsBox {
  padding: 20px;
  text-align: center;
  border-radius: 8px;
  animation: fade-in 1s ease-in-out;
}

@keyframes fade-in {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.packageStatsTitle {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 20px;
  animation: color-transition 3s infinite;
}

@keyframes color-transition {
  0% {
    color: #3f51b5;
  }

  50% {
    color: #1976d2;
  }

  100% {
    color: #3f51b5;
  }
}

.statsContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  animation: slide-in 1s ease-in-out;
}

@keyframes slide-in {
  0% {
    opacity: 0;
    transform: translateX(-20px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.stat {
  padding: 20px;
  margin: 0 10px;
  text-align: center;
  animation: fade-in 1s ease-in-out;
}

.stat h4 {
  font-size: 48px;
  font-weight: bold;
  color: #3f51b5;
  margin-bottom: 10px;
}

.stat p {
  font-size: 16px;
  color: #333;
}

.animatedTitle {
  animation: color-transition 3s infinite;
}

@keyframes color-transition {
  0% {
    color: #3f51b5;
  }

  50% {
    color: #1976d2;
  }

  100% {
    color: #3f51b5;
  }
}

.animatedText {
  animation: fade-in 1s infinite alternate;
}

@keyframes fade-in {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.title {
  font-size: 24px;
  margin-bottom: 20px;
  animation: color-transition 3s infinite, forwards 1s infinite alternate;
}

@keyframes color-transition {
  0% {
    color: #4864ff;
  }

  25% {
    color: #3856ff;
  }

  75% {
    color: #2545ff;
  }

  100% {
    color: #3d59f8;
  }
}

.roundedButtons {
  display: flex;
  justify-content: center;
  margin-top: 24px;
}

.roundedButton {
  margin: 0 8px;
}

.githubButton {
  background-color: #24292e;
  color: #fff;
}

.copyButtonWrapper {
  display: flex;
  justify-content: center;
  margin-top: 8px;
}

.copyContent {
  display: flex;
  align-items: center;
  font-family: "Courier New", monospace;
  font-size: 1rem;
  font-weight: bold;
  color: var(--ifm-color-primary);
  background-color: transparent;
  padding: 0.5rem 3.5rem 0.5rem 1rem;
  border-radius: 4px;
  border: 1px solid var(--ifm-color-primary);
  position: relative;
}

.copyIconButton {
  position: absolute;
  top: 50%;
  right: 8px;
  width: 32px;
  height: 32px;
  border-radius: 4px;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: opacity 0.3s;
}

.copyIconWrapper {
  display: inline-block;
  position: relative;
  width: 32px;
  height: 32px;
}

.copyIcon,
.checkmarkIcon {
  width: 100%;
  height: 100%;
  opacity: 1;
  transition: opacity 0.3s;
}

.copied .copyIcon {
  opacity: 0;
}

.copied .checkmarkIcon {
  opacity: 1;
}

.copyIcon,
.checkmarkIcon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.copyIconButton:focus {
  outline: none;
}

.copyIconButton:hover {
  opacity: 0.9;
}
