---
import pRetry from "p-retry";

export interface Props {
	pkgName: string;
}

const { pkgName } = Astro.props as Props;

const url = `https://registry.npmjs.org/${pkgName}/latest`;

const response = await pRetry(
  async () => {
    const response = await fetch(url);
    const json = await response.json();

    if (!response.ok) {
      throw new Error(
        `npm API call failed: GET "${url}" returned status ${
          response.status
        }: ${JSON.stringify(json)}`
      );
    }

    return json;
  },
  { retries: 10 },
);
---

<span>v{response.version}</span>