---
import "@docsearch/css";
---

<div id="docsearch"></div>

<script>
  import docsearch from "@docsearch/js";

  docsearch({
    container: "#docsearch",
    appId: "7NDV3UYBW5",
    indexName: "aoi-js",
    apiKey: "775caf3aef9ecccc83a7b3948ac1b92f",
    placeholder: "Search something..",
    maxResultsPerGroup: 5,
    getMissingResultsUrl({ query }) {
      return `https://github.com/aoijs/website/issues/new?title=${query}`;
    },
    resultsFooterComponent({ state }) {
      return {
        type: "a",
        ref: undefined,
        constructor: undefined,
        key: state.query,
        props: {
          href: "https://github.com/AkaruiDevelopment",
          target: "_blank",
          children: `${state.context.nbHits} results found! | Github`,
        },
        __v: null,
      };
    },
  });
</script>

<style>
  div {
    display: contents;
  }

  div[data-open-modal] {
    width: 100%;
  }

  @media (min-width: 50rem) {
    :global(.DocSearch-Button) {
      width: 100%;
      max-width: 22rem;
    }
  }
</style>
