---
import "@docsearch/css"
---

<div id="docsearch"></div>

<script>
  import docsearch from "@docsearch/js"

  docsearch({
    container: '#docsearch',
    appId: '5DNWL5BUQG',
    indexName: 'dev_aoijs',
    apiKey: '4750982e06daea825090aafa96440e88',
  })
</script>

<style>
    div {
        display: contents;
    }

  div[data-open-modal] {
    width: 100%;
    }

    @media (min-width: 50rem) {
    :global(.DocSearch-Button) {
      width: 100%;
      max-width: 22rem;
    }
    }
</style>