---
import "@docsearch/css";
---

<div id="docsearch"></div>

<script>
    import docsearch from '@docsearch/js';

    docsearch({
        container: '#docsearch',
        appId: '7NDV3UYBW5',
        indexName: 'aoi-js',
        apiKey: '775caf3aef9ecccc83a7b3948ac1b92f',
    });
</script>

<style>
  div {
    display: contents;
  }

  div[data-open-modal] {
    width: 100%;
  }

  @media (min-width: 50rem) {
    :global(.DocSearch-Button) {
      width: 100%;
      max-width: 22rem;
    }
  }
</style>
