---
import "@docsearch/css";
---

<div id="docsearch"></div>

<script>
    import docsearch from '@docsearch/js';

    docsearch({
        container: '#docsearch',
        appId: '7ICF4LWAPR',
        indexName: 'aoi-js-org',
        apiKey: 'e28d7a276035bd5dde6dea7a7a6ae497',
    });
</script>

<style>
  div {
    display: contents;
  }

  div[data-open-modal] {
    width: 100%;
  }

  @media (min-width: 50rem) {
    :global(.DocSearch-Button) {
      width: 100%;
      max-width: 22rem;
    }
  }
</style>
