---
import "@docsearch/css";
---

<div id="docsearch"></div>

<script>
  import docsearch from "@docsearch/js";

  docsearch({
    container: "#docsearch",
    appId: "7NDV3UYBW5",
    indexName: "aoi-js",
    apiKey: "775caf3aef9ecccc83a7b3948ac1b92f",
    placeholder: "Search something..",
    maxResultsPerGroup: 5,
    getMissingResultsUrl({ query }) {
      return `https://github.com/aoijs/website/issues/new?title=${query}`;
    },
    /*resultsFooterComponent({ state }) {
      return {
        type: "a",
        ref: undefined,
        constructor: undefined,
        key: state.query,
        props: {
          href: "https://github.com/AkaruiDevelopment",
          target: "_blank",
          children: `${state.context.nbHits} results found!`
        },
        __v: null,
      };
    },*/
    resultsFooterComponent() {
      return {
        type: "div",
        ref: undefined,
        constructor: undefined,
        key: "resultsFooter",
        props: {
          style: { marginBlock: "0.5rem" },
          children: [
            {
              type: "p",
              ref: undefined,
              constructor: undefined,
              key: "resultsFooterLede",
              props: {
                children: `Searched for something else? Maybe something below can solve your issue.`
              },
              __v: null,
            },
            {
              type: "ul",
              ref: undefined,
              constructor: undefined,
              key: "resultsFooterList",
              props: {
                style: {
                  display: "flex",
                  gap: "1em",
                  marginBlock: "0.5em",
                  flexWrap: "wrap",
                },
                children: [
                  {
                    type: "li",
                    ref: undefined,
                    constructor: undefined,
                    key: "integrationLink",
                    props: {
                      children: [
                        {
                          type: "a",
                          ref: undefined,
                          constructor: undefined,
                          key: "integrationAnchor",
                          props: {
                            href: "https://aoi.js.org/extensions/",
                            children: "Discover our Extensions",
                          },
                          __v: null,
                        },
                      ],
                    },
                    __v: null,
                  },
                  {
                    type: "li",
                    ref: undefined,
                    constructor: undefined,
                    key: "themesLink",
                    props: {
                      children: [
                        {
                          type: "a",
                          ref: undefined,
                          constructor: undefined,
                          key: "themesAnchor",
                          props: {
                            href: "https://github.com/AkaruiDevelopment/aoi.js/issues",
                            children: "Found bugs? Report them here!",
                          },
                          __v: null,
                        },
                      ],
                    },
                    __v: null,
                  },
                  {
                    type: "li",
                    ref: undefined,
                    constructor: undefined,
                    key: "discordLink",
                    props: {
                      children: [
                        {
                          type: "a",
                          ref: undefined,
                          constructor: undefined,
                          key: "discordAnchor",
                          props: {
                            href: "https://aoi.js.org/invite",
                            children:
                              "Need Support? Feel free to join our Discord.",
                          },
                          __v: null,
                        },
                      ],
                    },
                    __v: null,
                  },
                ],
              },
              __v: null,
            },
          ],
        },
        __v: null,
      };
    },
  });
</script>

<style>
  div {
    display: contents;
  }

  div[data-open-modal] {
    width: 100%;
  }

  :global(.DocSearch-Button) {
    background-color: var(--sl-color-black);
    border: 1px solid var(--sl-color-gray-5);
    border-radius: 0.5rem;
    color: var(--sl-color-gray-2);
    font-size: var(--sl-text-sm);
    height: 2.5rem;
    margin: 0;
    padding-inline-start: 0.75rem;
  }

  @media screen and (max-width: 48rem) {
    :global(.DocSearch-Button) {
      width: 2.5rem;
    }
  }

  :global(.DocSearch-Button):hover {
    background-color: var(--sl-color-black);
    border-color: var(--sl-color-gray-2);
    box-shadow: none;
    color: var(--sl-color-gray-1);
  }

  :global(.DocSearch-Button .DocSearch-Search-Icon) {
    color: var(--sl-color-gray-2);
    width: 1em;
    height: 1em;
  }

  :global(.DocSearch-Button:hover .DocSearch-Search-Icon) {
    color: var(--sl-color-gray-1);
  }

  @media (min-width: 50rem) {
    :global(.DocSearch-Button) {
      width: 100%;
      max-width: 22rem;
    }
  }
</style>
