.tag {
    border-radius: 4px;
    margin-left: 7px;
    padding: 1px 6px;
    color: rgb(255, 255, 255);
    font-size: 0.8em;
}
  
.staff {
    background-color: var(--ifm-color-primary);
}

.mod {
    background-color: rgb(255, 187, 0);
}

.creator {
    background-color: rgb(255, 0, 7);
}

.contributor {
    background-color: rgb(35, 207, 163);
}