---
import type { Props } from "@astrojs/starlight/props";
import Default from "starlight-sidebar-topics/overrides/Pagination.astro";
---

<div>
  <Default {...Astro.props}><slot /></Default>
</div>

<style>
  div {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
  }
</style>
