name: Auto-Merge Pull Request

on:
  pull_request:
    types:
      - labeled

jobs:
  automerge:
    if: ${{ success() }}
    runs-on: ubuntu-latest
    steps:
      - id: automerge
        name: automerge
        uses: "pascalgn/automerge-action@v0.15.6"
        env:
          GITHUB_TOKEN: "${{ secrets.GITHUB_TOKEN }}"
