name: Deploy to GitHub Pages

on:
  push:
    branches: [main]
    paths:
      - "src/**"
  workflow_dispatch:

permissions:
  contents: read
  pages: write
  id-token: write

jobs:
  build:
    runs-on: ubuntu-latest
    env:
      PUBLIC_BUILD_TIME: ${{ github.event.head_commit.timestamp }}
      PUBLIC_COMMIT: ${{ github.sha }}
    steps:
      - name: BUILD - Checkout repository
        uses: actions/checkout@v3
      - name: BUILD INFO - Environment variables
        run: |
          echo "PUBLIC_BUILD_TIME: $PUBLIC_BUILD_TIME"
          echo "PUBLIC_COMMIT: $PUBLIC_COMMIT"
      - name: BUILD - Start & Install
        uses: withastro/action@v1
        # with:
        #   node-version: 16
        #   package-manager: npm

  deploy:
    needs: build
    runs-on: ubuntu-latest
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    steps:
      - name: DEPLOY - Deploy to Github
        id: deployment
        uses: actions/deploy-pages@v1